# ignore all log files created locally
*.log
*.bak
*.swp
*.csv
*.json
*.pyc
.idea/
.vscode/
configs/test.yml
configs/config.yml.bk
configs/camera_viewer.yml
configs/config2.yml
logs/*.txt
targets/*.txt